@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&family=Ubuntu:wght@300;500&display=swap');

*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}
.navbar{
    display: flex;
    margin: auto;
    cursor: pointer;
    position: sticky;
    top: 0px;
}

.navlist{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 0 20px;
    width: 80%;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.logo{
    display: flex;
}

.logo img{
    width: 45px;
    justify-content: left;
    align-items: center;
    border-radius: 50px;
    margin: auto;
}

.name{
    margin: 0px;
}

.navlist li{
    /* padding: 10px 30px; */
    display: flex;
}

.navlist li a{
    text-decoration: none;
    display: flex;
    margin: 0 10px;
    color: white;
    padding: 0 5px;
    max-width: 150px;

}

.navlist li a:hover{
    color: var(--color-primary);
}

.rightnav{
    width: 20%;
    padding-right: 30px;
    text-align: right;
    padding: 20px 20px;
}

.btn{
    justify-content: left;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    cursor: pointer;
}

.background{
    background: rgb(51, 35, 0);
}

#search{
    padding: 5px 20px;
    /* border: 2px solid black; */
    border-radius: 5px;
}

.name{
    color:  white;
}

.burger{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;
}

.line{
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 3px 3px;
}

.welcome{
    height: 500px;
    background: rgb(255, 255, 255) url("/aks/background1.jpg");
    display: flex;
    background-size: cover;
    background-blend-mode: darken;
}

.welcomename{
    justify-content: center;
    align-items: center;
    margin: auto;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 60px;
}

.firstsec{
    display: flex;
    width: 80%;
    margin: auto;
}

.firsthead{
    width: 75%;
    display: flex;
    flex-direction: column;
}

.thumbnail{
    width: 20%;
    justify-content: right;
}

.thumbnail img{
    width: 100%;
    border: 3px solid black;
    border-radius: 10px;
    align-items: center;
    margin-top: 5px;
}

.textbig{
    max-width: 80%;
    font-family: 'Times New Roman', Times, serif;
    /* font-family: 'Ubuntu', sans-serif; */
    font-weight: 600;
    font-size: 20px;
    padding: 20px 0;
    background-color: rgb(58, 35, 13);
    color: white;
    border-radius: 10px;
    padding: 15px 15px;
    margin: 10px 0;
}

.textsmall{
    display: flex;
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;
    /* font-family: 'Ubuntu', sans-serif; */
    font-weight: 300;
    font-size: 20px;
    padding: 10px 0;
}

.textsmall a{
    font-family: 'Times New Roman', Times, serif;
    /* font-family: 'Ubuntu', sans-serif; */
    font-weight: 300;
    font-size: 25px;
    padding: 20px 0;
}

.secondsec{
    display: flex;
    width: 80%;
    margin: auto;
}

.contactme{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    width: 75%;
}

.contact{
    /* max-width: 80%; */
    /* margin: auto; */
    height: 150vh;
}

.text-center{
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.socialmedia{
    display: flex;
    width: 50%;
    margin: auto;
    justify-content: center;
}

.socialmedia a img{
    display: flex;
    max-width: 50px;
    border-radius: 15px;
    padding: 0 20px;
    margin-bottom: 50px;
    align-items: center;
}

.form{
    max-width: 60%;
    margin: auto;
}

.form-input{
    width: 100%;
    border: 2px solid black;
    border-radius: 5px;
    margin: 10px 0;
    padding: 5px 0;
}

.btn-dark{
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    padding: 4px 4px;
}

.textfooter{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
    font-size: 14px;
    color: white;
    margin: 0 20px;
    padding: 10px 0;
}

@media only screen and (max-width: 1250px){
    .navlist{
        flex-direction: column;
        margin: auto;
    }

    .navlist li{
        padding: 5px;
    }

    .name{
        padding: 5px;
    }

    .navbar{
        flex-direction: column;
        transition: all 0.3s ease-out;
        height: 450px;
        /* margin: auto; */
    }

    .rightnav{
        text-align: center;
        margin: auto;
        /* padding: 20px 0; */
    }

    #search{
        width: 70%;
        justify-content: center;
        /* justify-items: center; */
        /* margin: auto; */
    }

    .burger{
        display: block;
    }
    .h-nav-resp{
        height: 72px;
    }
    .v-class-resp{
        opacity: 0;
    }

    .welcome{
        flex-direction: column-reverse;
        max-width: 100%;
    }

    .welcomename{
        text-align: center;
    }

    .firstsec{
        flex-direction: column-reverse;
        justify-content: center;
        margin: auto;
    }

    .thumbnail{
        justify-content: center;
        margin: auto;
    }

    .thumbnail img{
        justify-content: center;
        margin: auto;

    }

    .firsthead{
        justify-content: center;
        margin: auto;
    }

    .textbig{
        text-align: center;
        margin: auto;
        margin-top: 10px;
    }

    .textsmall{
        /* text-align: center; */
        max-width: 80%;
        margin: auto;
        /* margin-right: 10px; */
    }
    .textsmall a{
        width: 80%;
        margin-left: 10px;
    }

    .secondsec{
        justify-content: center;
        margin: auto;
    }
}
